################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GalkinDrachev/v17/DocumentLayout.json
/.vs/Weather_drachev_galkin/FileContentIndex/e51fe135-bdf6-4def-929a-54a81da06d76.vsidx
