################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GalkinDrachev/v17/DocumentLayout.json
.vs/Weather_drachev_galkin/v17/.suo
